@font-face {
  font-family: "Mrwr";
  src: url("../fonts/Merriweather_Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Mrwr";
  src: url("../fonts/Merriweather_Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
