* {
  padding: 0;
  margin: 0;

  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  min-height: 100dvh;
  font-family: Golos, sans-serif;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
}
