@use "../helpers/colors" as *;
.hero {
  &__container {
    // стили контейнера
    position: relative;
    min-height: 62.4rem;
    background-color: #6d6c72;
    border-radius: 1.6rem;

    overflow: hidden;

    padding: 8rem 11rem 8rem 8rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: $base-white;

    max-width: 65.4rem;

    margin-bottom: 7.4rem;

    &-title {
      // стили заголовка
      font-family: Mrwr, serif;
      // font-size: calc(28px + 14 * (100vw - 320px) / 1120);
      font-size: 4.2rem;
      font-weight: 400;
      letter-spacing: -0.036rem;
      line-height: 1.2;
      margin-bottom: 2.4rem;
    }

    &-text {
      // блок с текстом
      max-width: 56rem;

      & :first-child {
        margin-bottom: 1.2rem;
      }
    }

    &-paragraph {
      // отдельные параграфы
      // font-size: calc(15px + 1 * (100vw - 320px) / 1120);
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 400;
    }

    &-image {
      // стили изображения
      position: absolute;
      right: 11.3rem;
      bottom: 0;
    }
  }

  &__contacts {
    // блок контактов
    position: relative;
    display: flex;
    // margin: 0 11rem 0 calc(24px + 76 * (100vw - 320px) / 1120);

    z-index: 1;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5.1rem;
    border: none;
    color: $base-white;
    font-size: 1.6rem;
    line-height: 140%;
    padding: 1.9rem 9.3rem 1.9rem 3.8rem;
    border-radius: 50px;
    background: linear-gradient(
        90deg,
        rgba(0, 72, 206, 0.4) 0%,
        rgba(212, 223, 248, 0.4) 100%
      ),
      #0048ce;
    cursor: pointer;
    transition: all 0.3s ease;

    // Добавляем отступ для иконки
    // padding-right: 6.5rem;
    min-width: 29.6rem;
    white-space: nowrap;

    &:hover {
      // Эффекты при наведении
      background: linear-gradient(
          90deg,
          rgba(0, 72, 206, 0.6) 0%,
          rgba(212, 223, 248, 0.6) 100%
        ),
        #0048ce;
    }

    &-icon {
      position: absolute;
      right: 5rem;
      top: 49%;
      // margin: 12px 0 0 20px;
      transform: translateY(-50%);
      // width: 2.4rem;
      // height: 2.4rem;
      // fill: $base-white;
      transition: transform 0.3s ease;
    }

    &:hover &-icon {
      transform: translateY(-50%) translateX(0.3rem);
    }
  }

  &__ceo {
    // блок с информацией о CEO

    // outline: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__social {
    &-link {
      // ссылки соцсетей
    }

    &-icon {
      // иконки соцсетей
    }
  }

  &__info {
    // блок с именем и должностью
    color: $base-white;
  }

  &__name {
    font-size: 2rem;
    line-height: 120%;
    font-family: Mrwr, serif;
  }
  &__position {
    font-size: 1.5rem;
    line-height: 145%;

    // стили текста
  }
}
